# System Files
.DS_Store

# webstorm
.idea

# Editor directories and files
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.sass-cache

# Dependency directories
node_modules
jspm_packages

# Bower dependency directory
bower_components

# compiled output
/dist
/tmp
**/*.js.map

# e2e
/e2e/*.js
/e2e/*.map

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache
.cache*

# next.js build output
.next

# nuxt.js build output
.nuxt

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows shortcuts
*.lnk
